.contato__textarea {
    border: 1px solid var(--rosa-medio);
    border-radius: 5px;
    color: var(--rosa-escuro);
    font-size: 1rem;
    margin-bottom: 1rem;
    padding: .5rem;
    resize: none;
    text-align: justify;
}

.contato__textarea:focus {
    outline: 1px solid var(--rosa-medio);
}