:root {
    --azul: #2bc4ff;
    --branco: #fdfdfd;
    --rosa-claro: #fadae5;
    --rosa-medio: #AC0047;
    --rosa-escuro: #240510;
}

body {
    font-family: 'Roboto', sans-serif;
}

.btn {
    background: var(--rosa-medio);
    border: 1px solid var(--rosa-medio);
    border-radius: 5px;
    color: var(--branco);
    cursor: pointer;
    font-weight: bold;
    text-transform: uppercase;
    transition: .4s;
}

.link {
    color: var(--branco);
    text-decoration: none;
}