.cabecalho {
    align-items: center;
    background: var(--branco);
    box-sizing: border-box;
    display: flex;
    height: 90px;
    justify-content: space-between;
}

.cabecalho__lista {
    display: flex;
    list-style: none;
}

.cabecalho__item {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0 1rem;
    padding: .5rem;
}

.cabecalho__item:hover {
    background: rgba(0, 0, 0, .05);
    border-radius: 3px;
}

.cabecalho__item:active {
    border-bottom-style: solid;
}

.cabecalho__link, .cabecalho__link:active {
    color: var(--rosa-escuro);
    text-decoration: none;
}

.cabecalho__botao {
    display: none;
}